@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

$background: #1a2b3c;
$Color_decoration: rgba(255, 255, 255, 0.548);
$Font-2: roboto;
$Fon_tittle_section: 5rem;
$color_text: rgba(255, 255, 255, 0.877);

* {
  font-family: $Font-2;
}

body {
  max-width: 900px;
  margin: 8px auto 8px auto;
  position: relative;
}
body > header {
  height: 1px;
}

html {
  background-color: $background;
}

/*Margin superior*/
.inicio_section {
  margin-top: 200px;

  /*Estilos textos inicial*/

  h1:nth-child(1) {
    font-size: 15px;
    color: aliceblue;
    text-align: center;
    font-weight: 200;
  }
  h1:nth-child(2) {
    background-image: url(https://storage.googleapis.com/www-paredro-com/uploads/2020/02/6cf01be6-magic.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 6rem;
    font-weight: 900;
    margin-top: -15px;
    word-spacing: 0.1em;
  }

  h1:nth-child(3) {
    text-align: center;
    color: aliceblue;
    font-size: 15px;
    word-spacing: 0.2em;
    margin-top: -95px;
    font-weight: 200;
  }

  /*Botón descargar CV*/

  .botones {
    position: absolute;
    display: flex;
    left: 50%;
    top: 165px;
    transform: translate(-50%, -50%);
  }

  button {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #00ff22b0;
    border: 0px;
    color: white;
    font-size: large;
    border-radius: 40px;
    height: 40px;
    width: 150px;
    transition: background-color 0.3s; /* Añade una transición suave para el cambio de color */
    a {
      text-decoration: none;
      margin-top: auto;
      margin-bottom: auto;
      padding-left: 5px;
      padding-right: 5px;
      font-family: $Font-2;
      color: white;
    }
  }
  button:hover {
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    background-color: $background;
    border: 1px solid;
    border-color: blue;
  }
}

.contenedor_circule {
  position: absolute;

  div:nth-child(1) {
    width: 50px;
    height: 50px;
    background-color: $Color_decoration;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: -150px; /* Ajusta el valor inicial para que el círculo comience fuera de la pantalla */
    cursor: pointer; /* Cambia el cursor al pasar sobre el div */
    transition: background-color 0.3s; /* Añade una transición suave para el cambio de color */
  }
  div:nth-child(1):hover {
    background-color: rgb(38, 0, 255);
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

  div:nth-child(2) {
    width: 50px;
    height: 50px;
    background-color: $Color_decoration;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 70px; /* Ajusta el valor inicial para que el círculo comience fuera de la pantalla */
    cursor: pointer; /* Cambia el cursor al pasar sobre el div */
    transition: background-color 0.3s; /* Añade una transición suave para el cambio de color */
  }
  div:nth-child(2):hover {
    background-color: rgb(134, 89, 51);
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

  div:nth-child(3) {
    width: 50px;
    height: 50px;
    background-color: $Color_decoration;
    border-radius: 50%;
    position: absolute;
    top: -150px;
    left: 120px; /* Ajusta el valor inicial para que el círculo comience fuera de la pantalla */
    cursor: pointer; /* Cambia el cursor al pasar sobre el div */
    transition: background-color 0.3s; /* Añade una transición suave para el cambio de color */
  }
  div:nth-child(3):hover {
    background-color: rgb(56, 148, 160);
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

  div:nth-child(4) {
    width: 50px;
    height: 50px;
    background-color: $Color_decoration;
    border-radius: 50%;
    top: -150px;
    left: -250px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el div */
    transition: background-color 0.3s; /* Añade una transición suave para el cambio de color */
  }
  div:nth-child(4):hover {
    background-color: rgb(68, 56, 97);
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

  div:nth-child(5) {
    width: 70px;
    height: 70px;
    background-color: $Color_decoration;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: -200px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el div */
    transition: background-color 0.3s; /* Añade una transición suave para el cambio de color */
  }
  div:nth-child(5):hover {
    background-color: rgb(138, 109, 109);
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

  div:nth-child(6) {
    width: 50px;
    height: 50px;
    background-color: $Color_decoration;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: -250px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el div */
    transition: background-color 0.3s; /* Añade una transición suave para el cambio de color */
  }
  div:nth-child(6):hover {
    background-color: rgb(240, 105, 105);
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

  div:nth-child(7) {
    width: 20px;
    height: 20px;
    background-color: $Color_decoration;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 170px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el div */
    transition: background-color 0.3s; /* Añade una transición suave para el cambio de color */
  }
  div:nth-child(7):hover {
    background-color: rgb(0, 225, 255);
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

  div:nth-child(8) {
    width: 50px;
    height: 50px;
    background-color: $Color_decoration;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: 350px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el div */
    transition: background-color 0.3s; /* Añade una transición suave para el cambio de color */
  }
  div:nth-child(8):hover {
    background-color: rgb(200, 255, 0);
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

  div:nth-child(9) {
    width: 50px;
    height: 50px;
    background-color: $Color_decoration;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: -50px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el div */
    transition: background-color 0.3s; /* Añade una transición suave para el cambio de color */
  }
  div:nth-child(9):hover {
    background-color: red;
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

  div:nth-child(10) {
    width: 50px;
    height: 50px;
    background-color: $Color_decoration;
    border-radius: 50%;
    position: absolute;
    top: -180px;
    left: -150px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el div */
    transition: background-color 0.3s; /* Añade una transición suave para el cambio de color */
  }
  div:nth-child(10):hover {
    background-color: rgb(189, 29, 29);
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }
}

/*Div inicial flecha hacia abajo*/
.imagen-dowm {
  position: absolute;
  top: 400px;
  left: 50%;
  margin: -25px 0 0 -25px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, -50%);
  animation: floatAnimation 1.5s infinite alternate; /* Animación de flotación */
}

@keyframes floatAnimation {
  to {
    transform: translate(
      -50%,
      -60%
    ); /* Cambia el valor según la altura deseada */
  }
}

.Sobre_mi_section {
  color: white;
  margin-top: 800px;
  text-align: center;
  div {
    margin-left: 150px;
    img {
      border-radius: 50%;
      float: left; /* La imagen se colocará a la izquierda del texto */
      margin-right: 30px; /* Ajusta el margen derecho según sea necesario */
    }

    img:hover {
      cursor: grabbing;
    }

    h2 {
      text-align: left;
      margin-top: -30px;
      color: $color_text;
      font-size: 4rem;
      font-weight: 700;
    }
    h2:hover {
      cursor: zoom-in; /* Cambia el cursor al pasar sobre el div */
      transition: background-color 60s; /* Añade una transición suave para el cambio de color */
      color: rgb(143, 143, 143);
    }

    h3 {
      position: relative;
      color: rgba(255, 255, 255, 0.548);
      text-align: left;
      font-weight: normal;
      transition: margin-top 0.5s;
    }

    p {
      text-align: left;
      font-weight: 300;
      position: relative;
      top: -60px;
    }
  }

  .contenedor_figuras {
    position: absolute;
    opacity: 50%;
    div:nth-child(1) {
      width: 50px;
      height: 50px;
      background-color: $Color_decoration;
      border-radius: 50px 30px;
      position: absolute;
      top: 100px;
      left: -160px; /* Ajusta el valor inicial para que el círculo comience fuera de la pantalla */
      transition: background-color 0.3s; /* Añade una transición suave para el cambio de color */
      animation: rotateAnimation 15s infinite;
    }

    div:nth-child(2) {
      width: 50px;
      height: 50px;
      background-color: $Color_decoration;
      border-radius: 10px 30px;
      position: absolute;
      top: 150px;
      left: -5px; /* Ajusta el valor inicial para que el círculo comience fuera de la pantalla */
      transition: background-color 0.3s; /* Añade una transición suave para el cambio de color */
      animation: rotateAnimation 10s linear infinite;
    }

    div:nth-child(3) {
      width: 50px;
      height: 50px;
      background-color: $Color_decoration;
      border-radius: 5px 15px 30px;
      top: -45px;
      left: -350px;
      transition: background-color 0.3s; /* Añade una transición suave para el cambio de color */
      animation: rotateAnimation 50s linear infinite;
    }
  }
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg); /* Rotación inicial */
  }
  100% {
    transform: rotate(360deg); /* Rotación completa (una vuelta completa) */
  }
}

.section_portafolio {
  margin-top: 800px;

  div {
    text-align: center;
    h2 {
      margin-top: -30px;
      color: $color_text;
      font-size: 4rem;
      font-weight: 700;
    }
    h3 {
      position: relative;
      color: rgba(255, 255, 255, 0.548);
      font-weight: normal;
    }
    h3:nth-child(3) {
      position: relative;
      top: -70px;
      color: rgba(255, 255, 255, 0.548);
      font-weight: normal;
    }
  }
  div:nth-child(2) {
    margin-top: 200px;
    color: white;

    p {
      text-align: justify;
      img:nth-child(1) {
        border-radius: 10px;
        float: left; /* La imagen se colocará a la izquierda del texto */
        margin-right: 30px;
        margin-top: -50px; /* Ajusta el margen derecho según sea necesario */
      }
    }

    span:nth-child(2) {
      color: orange;
      font-size: 20px;
      font-weight: 600;
    }
    span:nth-child(3) {
      font-size: 20px;
      font-weight: 600;
      color: rgb(1, 1, 121);
    }

    a {
      gap: 10px;
      img {
        box-shadow: white;
      }

      img:hover {
        animation: pulse;
        animation-duration: 2s;
      }
    }
  }

  div:nth-child(3) {
    margin-top: 200px;
    color: white;

    p {
      text-align: justify;
      img:nth-child(1) {
        border-radius: 30px;
        float: right; /* La imagen se colocará a la izquierda del texto */
        margin-left: 30px;
        margin-top: -50px; /* Ajusta el margen derecho según sea necesario */
      }
    }
    span:nth-child(2) {
      color: orange;
      font-size: 20px;
      font-weight: 600;
    }
    span:nth-child(3) {
      font-size: 20px;
      font-weight: 600;
      color: rgb(1, 1, 121);
    }

    a {
      img {
        box-shadow: white;
      }

      img:hover {
        animation: pulse;
        animation-duration: 2s;
      }
    }
  }
}
.mas_proyectos {
  margin-top: 200px;
  color: aliceblue;
  text-align: center;
  font-weight: 300;
  a {
    text-decoration: none;
    color: aqua;
  }
}

.section_portafolio_2 {
  margin-top: 200px;

  div {
    text-align: center;
    h2 {
      margin-top: -30px;
      color: $color_text;
      font-size: 4rem;
      font-weight: 700;
    }
    h3 {
      position: relative;
      color: rgba(255, 255, 255, 0.548);
      font-weight: normal;
    }
    h3:nth-child(3) {
      position: relative;
      top: -70px;
      color: rgba(255, 255, 255, 0.548);
      font-weight: normal;
    }
  }
  div {
    img:nth-child(1) {
      border-radius: 10%;
      margin-top: 50px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
    }
    img:nth-child(2) {
      border-radius: 10%;
      margin-top: 50px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
    }
    img:nth-child(3) {
      border-radius: 10%;
      margin-top: 50px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
    }
    img:nth-child(4) {
      border-radius: 10%;
      margin-top: 50px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
    }
  }
}

.section_skills {
  margin-top: 800px;

  div:nth-child(1) {
    text-align: center;
    h2 {
      margin-top: -30px;
      color: $color_text;
      font-size: 4rem;
      font-weight: 700;
    }
    h3 {
      position: relative;
      color: rgba(255, 255, 255, 0.548);
      font-weight: normal;
    }
  }

  /*Apatado lenguales*/
  div:nth-child(2) {
    background-color: aliceblue;
    display: grid;
    justify-content: start;
    h3 {
      color: red;
      span {
        font-size: 2rem;
        font-weight: 500;
        color: blue;
      }
    }

    img {
      border-radius: 10%;
    }
  }

  /*Apatado programas desing*/
  div:nth-child(3) {
    background-color: aliceblue;
    display: grid;

    h3 {
      color: red;
      span {
        font-size: 2rem;
        font-weight: 500;
        color: blue;
      }
    }

    img {
      border-radius: 10%;
    }
  }
  /*Apatado librerias*/
  div:nth-child(4) {
    background-color: aliceblue;
    display: grid;
    justify-content: start;
    h3 {
      color: red;
      span {
        font-size: 2rem;
        font-weight: 500;
        color: blue;
      }
    }

    img {
      border-radius: 10%;
    }
  }
  /*Apatado framework*/
  div:nth-child(5) {
    background-color: aliceblue;
    display: grid;
    justify-content: start;
    h3 {
      color: red;
      span {
        font-size: 2rem;
        font-weight: 500;
        color: blue;
      }
    }

    img {
      border-radius: 10%;
    }
  }
}

/*Animacion de images (scroll)*/
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

img {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}
